body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkseagreen;
}
#container {
  width: 960px;
  height: 70vh;
  display: flex;
  border:solid;
  border-color: black;
  background-color: white;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
}

#prompt {
  margin-bottom: 50px;
}